$app-background: hsl(270, 20%, 96%);
$header-gradient: linear-gradient(90deg, rgba(136,56,255,1) 0%, rgba(233,66,255,1) 100%);
$bubble-gradient: linear-gradient(90deg, rgba(233,66,255,1) 0%, rgba(136,56,255,1) 100%);
$sent-bubble-background: white;
$received-bubble-background:  #eee2ff;
$text-sent: hsl(271, 15%, 43%);
$text-received: hsl(276, 55%, 52%);
$placeholder-text:  hsl(206, 6%, 79%);
$btn-color: hsl(271, 36%, 24%);
$violet-background: linear-gradient(162deg, rgba(233,66,255,1) 0%, rgba(136,56,255,1) 52%);
$text-color: hsl(270, 7%, 64%);